

.shape {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    background-color: white; 
  }
  
  .shape.rectangle {
    border: 1px solid black;  
    background-color: white;  
    box-sizing: border-box;  
  }
  
  
  .shape.circle {
    border-radius: 50%;
  }
  
 
  .shape.text {
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    text-align: center; 
    color: black; 
  }
  